@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{ 
  --bgcolor-beige: #ece7e4;
  --color-black: #1b1a1a;
  --color-darkgrey: #403e3b;
  --color-grey: #645c55;
  --color-whitegrey: #ece7e4;
  --bgcolor-crema: #cec4bc;
  --bgcolor-light:  #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container{
  width: 1440px;
}

.container-l{
  width: 100%;
}




@media screen and (min-width: 2000px){

}

@media screen and (max-width: 1440px){
  .container{
    width: 100%;
  }
  
}

@media screen and (max-width: 950px){
  
}

@media screen and (max-width: 650px){
  
}
